<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32220715084-o1aga720o3uhij9qsso986qsgj50aor0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32220715084-o1aga720o3uhij9qsso986qsgj50aor0</string>
	<key>API_KEY</key>
	<string>AIzaSyA59G8fAyWt97_hZiKiXVHFsQakzhU8TFs</string>
	<key>GCM_SENDER_ID</key>
	<string>32220715084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yj.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-95771</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-95771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32220715084:ios:ae728d1de1e31bc3ea7ce9</string>
</dict>
</plist>